.form{
    display: flex;
    flex-direction: column;
}

.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

.form{
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px rgba(0, 0, 0, 0.316);
    border-radius: 5px;
}

.form>div{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

label,p{
    font-size: 1.2rem;
    margin-right: 5px;
    font-weight: 500;
}

button{
    height: 40px;
    padding: 10px 30px;
    box-sizing: border-box;
    width: 200px;
    margin: auto;
}

.story{
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.456) 0 0 20px;
}

.draggable{
    position: absolute !important;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.dynamic{
    background-color: white !important;
    height:40px;
    width:50%;
    display: none ;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 10000000;
}

.dy_text{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    z-index: 10000;
}

@media (max-width:800px) {
    .content{
        grid-template-columns:1fr;
    }
}